.slider {
    width: 300px;
}
.display {
    display: inline-block;
    padding: 10px;
}
.display-data, .total {
    padding: 0 40px;
    width: 450px;
}
.amount {
    width:30px;
}
.student-count {
    width: 100px;
}
.total {
    text-align: right;
    padding-right: 65px;
}
